<div class="playingCards faceImages">
  <app-card *ngFor="let cardInGame of cardsInGame" ></app-card>
</div>
<br>
<button (click)="giveAnotherCard()">Give another card</button>
<button (click)="resetGame()">Reset</button>
<div class="score">
  Score:
</div>
